.todo-list-item--important{
    font-weight: bold;
    color: steelblue;
}
.todo-list-item span{
    margin-right: 2rem;
    cursor: pointer;
    width: 100%;
}
.todo-list-item--done{
    text-decoration: line-through;
}
.todo-list-item .btn{
    font-size: 1rem;
    box-shadow: none;
}